{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>


<a href="/logout">Kirjaudu ulos</a>
<a href="/profile">Näytä profiili</a>

{% else %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
<form action="/login" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username"></p>
    <p>Salasana:<br>
        <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
</form>
<a href="/signup">Luo tunnus</a>

{% endif %}
<a href="/pokemons">Selaa pokemoneja</a>
