<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Monnikanta</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Etusivu</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/pokemons"><b>Selaa pokemoneja</b></a>
            </li>
            {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/profile">Näytä profiili</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Kirjaudu ulos</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/signup">Luo tunnus</a>
            </li>
            {% endif %}
            {% if admin %}
            <li class="nav-item">
                <a class="nav-link" href="/add">Lisää uusi pokemon tietokantaan</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="row">
        <div class="col-8">
            <p>Pokemonien määrä: {{ count }}</p>
            <div class="list-group">
                {% for pokemon in pokemons %}
                <a href="/pokemons/{{ pokemon[0] }}" class="list-group-item list-group-item-action">{{ pokemon[0] }}.
                    {{ pokemon[1] }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <form action="/result" method="GET">
                <div class="form-group">
                    <label for="Hakusana">Hakusana</label>
                    <input type="text" name="query">
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Lähetä">
                </div>
            </form>
        </div>
    </div>
</div>